<div class="nav-item">
    <NavLink class="menu-link" href="@Href" Match="@Match">
        <span class="@Icon menu-icon" aria-hidden="true"></span>
        <span>@Text</span>
    </NavLink>
</div>

@code {
    [Parameter, EditorRequired]
    public string Icon { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public string Text { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public string Href { get; set; } = string.Empty;

    [Parameter]
    public NavLinkMatch Match { get; set; } = NavLinkMatch.Prefix;
}

