@page "/not-found"
@attribute [ExcludeFromInteractiveRouting]
@layout LMS.Blazor.Client.Layout.MainLayout

<PageTitle>Not Found</PageTitle>

<h3>Hoppsan - sidan hittades inte!</h3>
<p>Tyvarr finns inte innehallet du letar efter.</p>
<a href="/" class="btn btn-primary">Tillbaka till startsidan</a>
