<div class="container bg-white">
    <h1 class="h1 fs-3 fw-bold">Skapa kurs</h1>
    <EditForm Model="_createCourseDto" OnValidSubmit="CreateCourse" class="vstack gap-3 mt-4">
        <DataAnnotationsValidator />
        <div class="mb-3">
            <label class="form-label" for="course-name">Kursnamn</label>
            <InputText id="course-name"
                       @bind-Value="_createCourseDto.Name"
                       class="form-control"
                       placeholder="namnet på kursen"
                       type="text"
                       autofocus />
        </div>

        <div class="mb-3">
            <label class="form-label" for="course-description">Kursbeskrivning</label>
            <InputTextArea id="course-description"
                           @bind-Value="_createCourseDto.Description"
                           placeholder="Beskriv kursen"
                           class="form-control"
                           Rows="4" />
        </div>

        <div class="row">
            <div class="col-6">
                <label class="form-label" for="course-start-date">Start Date</label>
                <InputDate @bind-Value="_createCourseDto.StartDate"
                           class="form-control"
                           id="course-start-date" />
            </div>
            <div class="col-6">
                <label class="form-label" for="course-start-date">End Date</label>
                <InputDate @bind-Value="_createCourseDto.EndDate"
                           class="form-control"
                           id="course-start-date" />
            </div>
        </div>
        <h3 class="h3 fs-5 fw-bold border-top py-3">Lägg till moduler</h3>
        @foreach (var module in _modules) {
            
        }
        <div>
            <button class="btn btn-link text-decoration-none">
                <i class="bi bi-plus-circle"></i>
                Lägg till modul
            </button>
        </div>
    </EditForm>
</div>

@code {
    private CreateCourseDto _createCourseDto = new();
    private IReadOnlyCollection<CreateModuleDto> _modules = [];

    [Parameter]
    public EventCallback<CreateCourseDto> OnCreate { get; set; }

    private async Task CreateCourse()
    {
        
    }
}
