<div class="container bg-white">
    <EditForm Model="_createCourseDto" OnValidSubmit="CreateCourse" class="vstack gap-3 mt-4">
        <DataAnnotationsValidator />
        <div class="form-floating">
            <InputText id="course-name"
                       @bind-Value="_createCourseDto.Name"
                       class="form-control form-control-lg"
                       placeholder=" "
                       type="text"
                       autofocus />
            <label class="form-label" for="course-name">Kursnamn</label>
        </div>

        <div class="form-floating">
            <InputTextArea id="course-description" 
                           @bind-Value="_createCourseDto.Description"
                           placeholder=" "
                           class="form-control form-control-lg"
                           style="height: calc(initial * 4)"
                           Rows="4" />
                           @*form-control overrides the height property*@
            <label class="form-label" for="course-description">Kursbeskrivning</label>
        </div>
    </EditForm>
</div>

@code {
    private CreateCourseDto _createCourseDto = new();

    [Parameter]
    public EventCallback<CreateCourseDto> OnCreate { get; set; }

    private async Task CreateCourse()
    {
        
    }
}
