<div class="container bg-white">
    <EditForm Model="_createCourseDto" OnValidSubmit="CreateCourse" class="vstack gap-3 mt-4">
        <DataAnnotationsValidator />
        <div class="mb-3">
            <label class="form-label" for="course-name">Kursnamn</label>
            <InputText id="course-name"
                       @bind-Value="_createCourseDto.Name"
                       class="form-control form-control-lg"
                       placeholder="namnet på kursen"
                       type="text"
                       autofocus />
        </div>

        <div class="mb-3">
            <label class="form-label" for="course-description">Kursbeskrivning</label>
            <InputTextArea id="course-description" 
                           @bind-Value="_createCourseDto.Description"
                           placeholder="Beskriv kursen"
                           class="form-control form-control-lg"
                           Rows="4" />
        </div>
    </EditForm>
</div>

@code {
    private CreateCourseDto _createCourseDto = new();

    [Parameter]
    public EventCallback<CreateCourseDto> OnCreate { get; set; }

    private async Task CreateCourse()
    {
        
    }
}
